body{
    overflow: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif;

    background-color: rgb(175, 175, 175);
    background-image: -webkit-gradient(rgb(175, 175, 175),rgb(65, 65, 65));
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(rgb(175, 175, 175),rgb(65, 65, 65));
    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(rgb(175, 175, 175),rgb(65, 65, 65));
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(rgb(175, 175, 175),rgb(65, 65, 65));
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(rgb(175, 175, 175),rgb(65, 65, 65));
}

/* Main Menu */
#logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px

}
#mainMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #cac9c8;
    z-index: 99;
}
#mainMenuTitle{
    color:#58585a;;
    text-align: center;

    letter-spacing: 4px;
    font-family: 'Lato', sans-serif;

    font-weight: 100;
    text-transform: uppercase;
    margin-top: 320px
}
#sceltaMenuTitle{
    color:#58585a;;
    text-align: center;


    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;

    font-weight: 100;
    text-transform: uppercase;
    margin-top: 150px
}

#categoriesBtns {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    width: 60%;
    top:50%;    

}
#categoriesBtns > div {
    display: inline-block;
    margin-right: 50px;
    text-align:center;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: 400;
    color: #58585a;

}

.btns{
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.2));
}
.btnsTop{
     margin-top: -172px;
     
}
#Executive{
    width: 230px;
    height: 200px;
    background-color: whITE;
    background-image: url('../assets/img2.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    z-index: 100;
    /* effects */
    filter: grayscale(100%) blur(2px);
   
    color:#cb0a3d;;
    font-weight: 400;
    font-size: 28px;
    transition:  .8s all
}
#Executive:hover{
    filter: grayscale(0%) blur(0px);

}
#TaskChairs{
    width: 230px;
    height: 200px;
    background-image: url('../assets/img4.jpg');
    background-size:100%;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    /* effects */
    filter: grayscale(100%) blur(2px);
    color:#cb0a3d;;
    font-weight: 400;
    font-size: 28px;
    transition:  .8s all
}
#TaskChairs:hover{
    filter: grayscale(0%) blur(0px);

}
#Waiting{
    width: 230px;
    height: 200px;
    background-image: url('../assets/img3.jpg');
    background-size:100%;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    /* effects */
    filter: grayscale(100%) blur(2px);
    color:#cb0a3d;;
    font-weight: 400;
    font-size: 28px;
    transition:  .8s all
}
#Waiting:hover{
    filter: grayscale(0%) blur(0px);

}
#Accessories{
    width: 230px;
    height: 200px;
    background-image: url('../assets/img1.jpg');
    background-size:100%;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    /* effects */
    filter: grayscale(100%) blur(2px);
    color:#cb0a3d;;
    font-weight: 400;
    font-size: 28px;
    transition:  .8s all
}
#Accessories:hover{
    filter: grayscale(0%) blur(0px);

}

/* Schermata Scelta */

#schermataScelta{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color:#ffffff ;
    z-index: 98;
}
#containerButton{
 position: absolute;
 padding-left: 50px;
 padding-right: 50px;
 box-shadow: 2px 0px 20px;
 height: 105%;
 background-color: white

}
#containerScelte{
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800

}
#sceltaZoe::before{
    display: block;
    content: "";
    background-image: url("../assets/Zoe.PNG");
    height: 200px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.sceltaZoe{
    margin-left: 50px;
}
.sceltaZoe::before{
    display: block;
    content: "";
    height: 200px;
    width: 100px;
    background-size: 130%;
    background-position: 50%;
    background-repeat: no-repeat;
   
}
.sceltaZoe.evolution::before{
    background-image: url("../assets/imgSchermata/evolution.png");
}

.sceltaZoe.flamingo::before{
    background-image: url("../assets/imgSchermata/flamingo.png");
}
.sceltaZoe.gea::before{
    background-image: url("../assets/imgSchermata/gea.png");
}
.sceltaZoe.genesis::before{
    background-image: url("../assets/imgSchermata/genesis.png");
}
.ice::before{
    background-image: url("../assets/imgSchermata/ice.png")!important;
}
.sceltaZoe.moby::before{
    background-image: url("../assets/imgSchermata/moby.png");
}
.sceltaZoe.paris::before{
    background-image: url("../assets/imgSchermata/paris.png");
}
.sceltaZoe.wow::before{
    background-image: url("../assets/imgSchermata/wow.png");
}
.sceltaZoe.zeus::before{
    background-image: url("../assets/imgSchermata/zeus.png");
}
.backBtn{
    position: absolute;
    color: #cb0a3d;
    font-weight: 800;
    left: 0;
    margin-top:20px;
    top: 0;
    font-size:30pt
}

/* Configuratore */

#braccioliContainer{
    display: none
}
.nameSezione{
    margin-left:30px;
    font-size: 26pt
}
.nameSezione::after{
  display: block;
  width:100px;
  background: black;
  height: 2px;
  content:"";
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: -20px
}
button{
    border: none;
    background:none;
    cursor: pointer;
    font-size: 13pt;
    font-style: normal
}
#ZoeA::before{
    display: block;
    content: "";
    background-image: url("../assets/Zoe.PNG");
    height: 200px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#ZoeB::before{
    display: block;
    content: "";
    background-image: url("../assets/ZoeL.PNG");
    height: 200px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#noSedia::before{
    display: block;
    content: "";
    height: 200px;
    width: 100px;
    background-image: url("../assets/no-stopping.png");
    background-size: 70%;
    background-position: 50%;
    
    background-repeat: no-repeat;
}
#Rock::before{
    display: block;
    content: "";
    background-image: url("../assets/Rock.PNG");
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#Tekno::before{
    display: block;
    content: "";
    background-image: url("../assets/Tekno.PNG");
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#Ginger::before{
    display: block;
    content: "";
    background-image: url("../assets/Ginger.PNG");
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#noBraccioli::before{
    display: block;
    content: "";
    height: 80px;
    width: 80px;
    background-image: url("../assets/no-stopping.png");
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#containerMaterial{
    position: absolute;
    right: 0;
    width: 400px;
    display:none;
    box-shadow: 2px 0px 20px;
padding-bottom:50px;
padding-left: 50px;
background-color: white

}
#leatherBtn::before{
    display: block;
    content: "";
    background-image: url("../assets/leatherBtn.png");
    height: 120px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 20px
}
#fabricBtn::before{
    display: block;
    content: "";
    background-image: url("../assets/fabric.png");
    height: 120px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 20px
}
#containerMaterialBraccioli{
    display: none
}
#braccioliNeri::before{
    display: block;
    content: "";
    background-image: url("../assets/black.png");
    height: 120px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 20px
}
#braccioliBianchi::before{
    display: block;
    content: "";
    background-image: url("../assets/grey.png");
    height: 120px;
    width: 100px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 20px
}
#containerOptional{
    display: none;
}
#containerShopCart{
    display: none;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 2px 0px 20px;
    height: auto;
    width: 350px;
    background-color: white;
    right:0;
    bottom: 0;
}

.uk-accordion-title{
    text-transform: uppercase;
    font-size: 17pt;
    margin-top: 30px;
}


#cagliBrown::before{
    background-image: url('../assets/iconcineTessuto/brown.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

#cagliBlack::before{
    background-image: url('../assets/iconcineTessuto/black.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

#cagliBlue::before{
    background-image: url('../assets/iconcineTessuto/blue.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

#cagliRed::before{
    background-image: url('../assets/iconcineTessuto/red.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}
#bibaGreen::before{
    background-image: url('../assets/iconcineTessuto/green.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

#bibaOrange::before{
    background-image: url('../assets/iconcineTessuto/orange.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

#bibaGrey::before{
    background-image: url('../assets/iconcineTessuto/grey.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
    width:50px;
    height:50px;
    display: block;
    content: "";
}

.orderButton{
    margin-bottom: 20px;
    font-size: 20pt;
    color: #cb0a3d;
    text-align: right;
    border-bottom: 1px solid #cb0a3d;
    padding-bottom: 10px;
    margin-left: 220px
}